@page
@model PRN222.Assignment.Razor.Admin.Components.Milktea.DeleteModel

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>MilkTeaProduct</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.MilkTeaProduct.ProductName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.MilkTeaProduct.ProductName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.MilkTeaProduct.Description)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.MilkTeaProduct.Description)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.MilkTeaProduct.BasePrice)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.MilkTeaProduct.BasePrice)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.MilkTeaProduct.ImagePath)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.MilkTeaProduct.ImagePath)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.MilkTeaProduct.IsAvailable)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.MilkTeaProduct.IsAvailable)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.MilkTeaProduct.CreatedDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.MilkTeaProduct.CreatedDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.MilkTeaProduct.LastModified)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.MilkTeaProduct.LastModified)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.MilkTeaProduct.Category)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.MilkTeaProduct.Category.CategoryName)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="MilkTeaProduct.ProductId" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-page="./Index">Back to List</a>
    </form>
</div>
