@page
@model PRN222.Assignment.Razor.Admin.Pages.Trans.DetailsModel

@{
    ViewData["Title"] = "Transaction Details";
}

<h1>Transaction Details</h1>

<div>
    <h4>Transaction</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Transaction.Amount)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Transaction.Amount)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Transaction.TransactionType)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Transaction.TransactionType)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Transaction.Description)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Transaction.Description)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Transaction.TransactionDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Transaction.TransactionDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Transaction.Order)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Transaction.Order.DeliveryAddress)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Transaction.ProcessedByNavigation)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Transaction.ProcessedByNavigation.Address)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Transaction.TransactionId" class="btn btn-primary">Edit</a> |
    <a asp-page="./Index" class="btn btn-secondary">Back to List</a>
</div>