@page
@model PRN222.Assignment.Razor.Admin.Pages.ComboOrder.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.OrderCombo[0].Quantity)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OrderCombo[0].UnitPrice)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OrderCombo[0].Combo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OrderCombo[0].Order)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.OrderCombo) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Quantity)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UnitPrice)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Combo.ComboName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Order.DeliveryAddress)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.OrderComboId">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.OrderComboId">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.OrderComboId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
